

.end{
	padding-top: 50px;
	text-align: center;
	height: 50px;

}


.h{
	padding-top: 15px;
}


.head{
	height: 50px;
	line-height: 50px;
}




.head a{
	text-decoration: none;
	padding-right: 30px;
	color: blue;
}
